.login-container{
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    background: white;
    border-radius: 5px;
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.login-container .row .col-5, .login-container .row .col-2, .login-container .row .col-5{
    min-height: 80vh;
}
.login-container .row .col-5 h4{
    text-align: center;
}

.login-container .row .col-5 .container form{
    margin-left: 15%;
}

.login-container .row .col-5 .container form .submit-btn{
    margin-left: 35%;
}
.login-container .row .col-5 .container form .form-group sup{
    color: red;
}
.login-container .row .col-12 p{
    text-align: center;
}